body{
	background-color: #007f5d;
	justify-content: center;
	text-align: center;
}

button{
	font-weight: bold;
    cursor: pointer;
    padding: 1px;
    margin: 0 10px 20px 0;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 8px 8px 8px 8px;
    color: white;
}
button img{
	width: 150px;
	height: auto;
	max-width: 100%;
}
button:hover {
    background-color: rgba(182,240,228,0.6);
}
.video-wrap{
 	position: relative; 
}
.text{
	z-index: 120;
	font-family: Helvetica;	
	right: 800px;
	width: 550px;
	height: 50px;
	position: absolute;
	top: 612px;
}
.text button{
	border: 1px solid white;
	padding: 9px;
	background-color: #007f5d;
	color: white;
	margin-right: 2px;
}
button#snap{
	position: absolute;
	margin: auto;
	top: 610px;
	left: 555px;
	right: 0px;
	z-index: 200;
}
button#toggleFullScreenButton{
	position: absolute;
	margin: auto;
	top: 613px;
	left: 1250px;
	right: 350px;
	z-index: 200;
	width: 35px;
}
button#switchCameraButton{
	position: absolute;
	margin: auto;
	top: 613px;
	left: 1190px;
	right: 391px;
	z-index: 200;
	width: 37px;
}

/*
canvas#canvas{
	transform: scale(-1,1);
}
*/

#zonaCapture{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 10px;
}

div#zonaCapture div#buttons{
	position: absolute;
	margin-left: auto;
	margin-right: auto;	
	top: 626px;
	left: 550px;
	right: 0px;
}

canvas {
    max-width: 100%;
}
#extra img{
	width: 100%;
}
@media (max-width: 700px) {
	/*.all{
		transform: scale(0.6);
	}*/
	.video-wrap{
		/* left: -142px; */
		/* top: -271px; */
	}
	#extra img{
		width: 100%;
	}
	.text{
		width: 325px;
		left: 56px;
		font-size: 5px;
		top: 320px;
	}
	button#toggleFullScreenButton{
		left: 391px;
	    top: 276px;
	    width: 24px;
	    right: 19px;
	}
	button#switchCameraButton{
		left: 365px;
		top: 276px;
		width: 24px;
	}
	button#snap
	{
		left: 191px;
		top: 276px;
		width: 80px;
	}
	
	div#zonaCapture div#buttons
	{
		width: 125px;
		left: 266px;
		top: 272px;
		z-index: 199;
	}
	div#zonaCapture div#buttons button
	{
		width: 60px;
		margin: 0;
	}
	#zonaCapture
	{
		top:25px;
	}
}
@media (min-width: 701px) {
	.text{
		left: 116px;
		width: 325px;
	}
	button#toggleFullScreenButton {
    position: absolute;
    margin: auto;
    top: 613px;
    left: 1012px;
    right: 89px;
    z-index: 200;
    width: 35px;
	}
	button#switchCameraButton {
    position: absolute;
    margin: auto;
    top: 613px;
    left: 945px;
    right: 150px;
    z-index: 200;
    width: 37px;
	}
}
@media (min-width: 1044px) {
	.text{
		font-size: 12px;
		width: 334px
		left: 110px;
	}
	/*.all{
		transform: scale(0.9);
	}*/
	.video-wrap{
		left: 0px;
		top: 0px;
	}

	#extra {
		left: 0px;
		right: 0px;
		margin: auto;
		text-align: center;
		justify-content: center;
		width: 1024px;
	}
	#extra img{
		width: 100%;
	}
	

}
@media (min-width: 1044px) {
.text{		
		left: 152px;
	}
}
@media (min-width: 1300px) {
	.text{
		font-size: 13px;
		width: 408px;
		left: 190px;
	}
	button#switchCameraButton {
    position: absolute;
    margin: auto;
    top: 613px;
    left: 1035px;
    right: 259px;
    z-index: 200;
    width: 37px;
	}
	button#toggleFullScreenButton {
    position: absolute;
    margin: auto;
    top: 613px;
    left: 1088px;
    right: 207px;
    z-index: 200;
    width: 35px;
	}
}
@media (min-width: 1360px) {
	.text{
		left: 200px;
	}
}
@media (min-width: 1468px) {
	.text{
		left: 280px;
	}
}
@media (min-width: 1680px) {
	.text{
		left: 313px;
	}
}
@media (min-width: 1700px) {
	.text{
		left: 357px;
	}
}
@media (min-width: 1800px) {
	.text{
		width: 550px;
		left: 383px;
		font-size: 15px;
	}
}
