body{
	background-color: #007f5d;
	justify-content: center;
	text-align: center;
}

button{
	font-weight: bold;
    cursor: pointer;
    padding: 1px;
    margin: 0 10px 20px 0;
    border: 1px solid transparent;
    background: transparent;
    border-radius: 8px 8px 8px 8px;
    color: white;
}
button img{
	width: 150px;
	height: 38px;
}
button:hover {
    background-color: rgba(182,240,228,0.6);
}
.video-wrap{
 	position: relative; 
}
.text{
	z-index: 120;
	font-family: Helvetica;	
	right: 800px;
	width: 550px;
	height: 50px;
	position: absolute;
	top: 530px;
}
canvas {
    max-width: 100%;
}

@media (min-width: 320px) {
	/*.all{
		transform: scale(0.6);
	}*/
	.video-wrap{
		/* left: -142px; */
		/* top: -271px; */
	}
	.text{
		width: 264px;
		left: 80px;
		font-size: 10px;
		top: 320px;
	}
	button#snap
	{
		left: 310px;
		top:300px;
	}
}
@media (min-width: 1044px) {
	.text{
		font-size: 12px;
		width: 264px;
		left: 236px;
	}
	/*.all{
		transform: scale(0.9);
	}*/
	.video-wrap{
		left: 0px;
		top: 0px;
	}
}
@media (min-width: 1300px) {
	.text{
		font-size: 13px;
		width: 408px;
		left: 356px;
	}
	/*.all{
		transform: scale(1);
	}*/
}
@media (min-width: 1360px) {
	.text{
		left: 308px;
	}
}
@media (min-width: 1700px) {
	.text{
		width: 550px;
		left: 511px;
		font-size: 15px;
	}
}


button#snap{
	position: absolute;
	margin: auto;
	top: 510px;
	left: 555px;
	right: 0px;
	z-index: 100;
}

/*
canvas#canvas{
	transform: scale(-1,1);
}
*/

#zonaCapture{
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	justify-content: center;
	left: 0;
	right: 0;
	top: 10px;
}

div#zonaCapture div#buttons{
	position: absolute;
	margin-left: auto;
	margin-right: auto;	
	top: 515px;
	left: 550px;
	right: 0px;
}
